

<h1> Show First name: <%= @student.first_name %> - Last name: <%= @student.last_name %>  </h1>

<p> <%= @student.first_name %> </p>
<p> <%= @student.last_name %> </p>
<p> <%= @student.display_nicely %> </p>